
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/************************* navbar *************************/
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: medium;
}
.navbar-nav>li>a{
margin-right: 0.70rem;
margin-left: 0.70rem;
}
.container-fluid{
  height: 9.375rem;

}
.navbar-nav >li >a.active , .navbar-nav>li>a:focus{
  border-bottom: 0.1875rem solid blue;
  color: blue;
  
}
.navbar-nav >li >a.active , .navbar-nav>li>a:hover{
  border-top: 0.1875rem solid blue;

  
}


/************************* header *************************/
.header-wraper{
  
}
.main-info{
  display: flex;
  flex-direction: row;
}
.rounded-circle{
width: 30rem;

}
#logo-text{

color:rgb(49, 73, 126);
align-content: space-around;
 
}
.typed-text,.typo-span{
  font-size:xx-large;


}
.particles canvas{
  z-index: 0;
  position:absolute;
  width: 100%;
  height: 100%;
  
}
